<!DOCTYPE html>
<html data-theme="coffee" lang="en">
  <head>
    <title>{{ .Title }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/static/css/style.css" rel="stylesheet">
    <script type="text/javascript" src="/static/js/script.js"></script>
  </head>
  <body class="flex flex-col bg-base-100 text-neutral-content min-h-screen items-center">
    <div class="flex flex-wrap w-full px-2 justify-center">
      <input id="description-search"
             class="w-full md:w-1/3 lg:w-1/4 my-2 mx-4 p-2 bg-base-200 rounded-lg"
             type="text"
             placeholder="Search by description"
             autocomplete="off">
      <input id="min-amount-search"
             class="w-full md:w-1/3 lg:w-1/4 my-2 mx-4 p-2 bg-base-200 rounded-lg"
             type="number"
             placeholder="Search by min amount"
             autocomplete="off">
      <input id="max-amount-search"
             class="w-full md:w-1/3 lg:w-1/4 my-2 mx-4 p-2 bg-base-200 rounded-lg"
             type="number"
             placeholder="Search by max amount"
             autocomplete="off">
      <input id="start-date-search"
             class="w-full md:w-1/3 lg:w-1/4 my-2 mx-4 p-2 bg-base-200 rounded-lg"
             type="date"
             placeholder="Search by start date"
             autocomplete="off">
      <input id="end-date-search"
             class="w-full md:w-1/3 lg:w-1/4 my-2 mx-4 p-2 bg-base-200 rounded-lg"
             type="date"
             placeholder="Search by end date"
             autocomplete="off">
    </div>
    <div class="flex flex-wrap w-full px-2 justify-center">
      {{ range .Transactions }}
      <div class="flex flex-col w-full md:w-1/3 lg:w-1/4 items-center text-center my-2 mx-4 p-2 bg-base-200 rounded-lg"
           data-description="{{ .Description }}"
           data-alias="{{ .Alias }}"
           data-amount="{{ .Amount }}"
           data-date="{{ .Date }}"
           data-transaction-card>
        <div class="flex w-full justify-center gap-x-2">
          <span class="text-xl font-semibold">{{ .Date }}</span>
          {{ if (gt .Amount 0.0) }}
          <span class="text-xl font-bold text-warning">£{{ .Amount }}</span>
        {{ else }}
          <span class="text-xl font-bold text-red-800">£{{ .Amount }}</span>
          {{ end }}
          <span class="text-info">{{ .Code }}</span>
        </div>
        <div class="flex">
          {{ if (ne .Alias "") }}
          <div class="flex flex-col w-full">
            <span class="font-semibold">{{ .Alias }}</span>
            <span class="text-sm italic font-thin">[{{ .Description }}]</span>
          </div>
        {{ else }}
          <span class="italic font-semibold">{{ .Description }}</span>
          {{ end }}
        </div>
      </div>
      {{ end }}
    </div>
  </body>
</html>
